@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;700&family=Montserrat:wght@100;400;900&display=swap");
:root {
  --white: #fff;
  --light: #f1f1f1;
  --dark: #999999;
  --accent: #ea671f;
  --text: #333;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: Karla, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--white);
  margin: 0;
  height: 100vh;
  padding: 0;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*custom cursor - click event missing*/
/* #ring {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  z-index: 999;
  background: none;
  transition: top 0.5s, left 0.5s;
  transition-timing-function: ease-out;
}

#dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  z-index: 999;
  background: var(--accent);
} */
/*home*/
.container {
  position: relative;
  height: 100vh;
}

.container .homeLogo {
  position: absolute;
  z-index: 2;
  width: 56vw;
  left: 22vw;
  height: 16vh;
  top: 42vh;
}

.container .homeLogo img {
  height: 100%;
  width: 100%;
}

.container .homeLogo .desktopLogo {
  display: none;
}

.container .homeLogo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
}

.container .split {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  cursor: pointer;
  position: relative;
}

.container .split:hover {
  background-color: var(--dark);
}

.container .split a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

.container .split img {
  max-width: 80vw;
}

.container a.split,
.container a.split2 {
  display: block;
}

.container .leftArea {
  background-color: var(--light);
}

.container .leftArea .productionEntry {
  display: none;
}

.container .leftArea:hover .productionEntry {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container .leftArea:hover .designEntry {
  display: none;
}

.container .rightArea {
  background-color: var(--white);
}

.container .rightArea2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .rightArea2 .webEntry {
  background-color: var(--white);
}

.container .rightArea2 .photoEntry {
  background-color: var(--white);
}

.container .rightArea2 .split2 {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  cursor: pointer;
  position: relative;
}

.container .rightArea2 .split2:hover {
  background-color: var(--dark);
}

/* grid design web*/
.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr 4fr 4fr;
      grid-template-rows: 1fr 4fr 4fr 4fr;
}

.wrapper div {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper div ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 1.5em;
  height: auto;
  margin-right: 40vw;
}

.wrapper div li {
  list-style: none;
  font-size: 4vw;
  text-align: end;
  position: relative;
}

.wrapper div li::before, .wrapper div li::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 4vw;
  background-color: var(--text);
  top: 0;
  z-index: 1;
}

.wrapper div li::before {
  left: -4vw;
  display: none;
}

.wrapper div li::after {
  right: -4vw;
}

.wrapper h2 {
  position: absolute;
  right: 3vw;
  bottom: 1vh;
  text-transform: uppercase;
  text-align: right;
  font-size: 6vw;
}

.wrapper p {
  display: none;
  position: relative;
}

.wrapper p::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 16vw;
  bottom: -1vh;
  right: 0;
  z-index: 1;
}

.wrapper .description {
  font-size: 2vw;
  font-weight: 100;
  width: 40vw;
  text-align: justify;
  position: absolute;
  right: 3vw;
  top: 4vh;
}

header {
  background-color: var(--white);
  height: 5vh;
}

.uix {
  background-color: var(--light);
  color: var(--dark);
}

.uix ul li:after {
  background-color: var(--dark);
}

.uix p:after {
  background-color: var(--dark);
}

.ci {
  background-color: var(--accent);
  color: var(--light);
}

.ci ul li:after {
  background-color: var(--light);
}

.ci p:after {
  background-color: var(--light);
}

.cms {
  background-color: var(--dark);
  color: var(--light);
}

.cms ul li:after {
  background-color: var(--light);
}

.cms p:after {
  background-color: var(--light);
}

/*responsiv tablet wide screen */
@media screen and (min-width: 767px) {
  /*home*/
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .homeLogo {
    position: absolute;
    z-index: 2;
    width: 8vw;
    left: 46vw;
    height: 36vh;
    top: 32vh;
  }
  .container .homeLogo .desktopLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .homeLogo .mobileLogo {
    display: none;
  }
  .container .split {
    height: 100vh;
    width: 50%;
  }
  .container .rightArea2 {
    display: -ms-grid;
    display: grid;
  }
  .container .rightArea2 .split2 {
    width: 50vw;
  }
  /*web grid*/
  .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 6fr 4fr;
        grid-template-rows: 1fr 6fr 4fr;
        grid-template-areas: "uix  nav" "uix  cms" "ci   cms";
  }
  .wrapper div {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .wrapper div h2 {
    font-size: 2vw;
    font-weight: bold;
    margin: 0.4em;
  }
  .wrapper div ul {
    position: absolute;
    margin-right: unset;
  }
  .wrapper div ul li {
    font-size: 2vw;
  }
  .wrapper div .description {
    font-size: 1vw;
  }
  .wrapper div .description::after {
    display: none;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav;
  }
  .uix {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: uix;
  }
  .uix h2 {
    right: unset;
    top: 0;
    left: 3em;
  }
  .uix ul {
    right: 16vw;
    top: 20vh;
  }
  .uix ul li::before {
    display: none;
  }
  .uix .description {
    top: unset;
    bottom: 4vh;
    right: 4vw;
  }
  .ci {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: ci;
  }
  .ci h2 {
    top: 0;
    text-align: unset;
  }
  .ci ul {
    left: 8vw;
    top: 8vh;
  }
  .ci ul li {
    text-align: unset;
  }
  .ci ul li::before {
    display: block;
    background-color: var(--light);
  }
  .ci ul li::after {
    display: none;
  }
  .ci .description {
    top: unset;
    bottom: 4vh;
    right: 4vw;
    width: 16vw;
  }
  .cms {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: cms;
  }
  .cms h2 {
    right: 4em;
  }
  .cms ul {
    position: absolute;
    left: 16vw;
    bottom: 40vh;
  }
  .cms ul li {
    text-align: unset;
  }
  .cms ul li::before {
    display: block;
    background-color: var(--light);
  }
  .cms ul li::after {
    display: none;
  }
  .cms .description {
    top: 4vh;
    bottom: unset;
    left: 4vw;
  }
}
/*# sourceMappingURL=main.css.map */