:root {
  --white: #fff;
  --light: #f1f1f1;
  --dark: #999999;
  --accent: #ea671f;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--white);
  margin: 0;
  height: 100vh;
  padding: 0;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*custom cursor - click event missing*/
/* #ring {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  z-index: 999;
  background: none;
  transition: top 0.5s, left 0.5s;
  transition-timing-function: ease-out;
}

#dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  z-index: 999;
  background: var(--accent);
} */
.container {
  position: relative;
  height: 100vh;
}

.container .homeLogo {
  position: absolute;
  z-index: 2;
  width: 56vw;
  left: 22vw;
  height: 16vh;
  top: 42vh;
}

.container .homeLogo img {
  height: 100%;
  width: 100%;
}

.container .homeLogo .desktopLogo {
  display: none;
}

.container .homeLogo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
}

.container .split {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  cursor: pointer;
  position: relative;
}

.container .split:hover {
  background-color: var(--dark);
}

.container .split a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.container .split img {
  max-width: 80vw;
}

.container a.split {
  display: block;
}

.container .leftArea {
  background-color: var(--light);
}

.container .leftArea .productionEntry {
  display: none;
}

.container .leftArea:hover .productionEntry {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container .leftArea:hover .designEntry {
  display: none;
}

.container .rightArea {
  background-color: var(--white);
}

.container .rightArea2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .rightArea2 .webEntry {
  background-color: var(--white);
}

.container .rightArea2 .photoEntry {
  background-color: var(--white);
}

.container .rightArea2 .split2 {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  cursor: pointer;
  position: relative;
}

.container .rightArea2 .split2:hover {
  background-color: var(--dark);
}

@media screen and (min-width: 767px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .homeLogo {
    position: absolute;
    z-index: 2;
    width: 8vw;
    left: 46vw;
    height: 36vh;
    top: 32vh;
  }
  .container .homeLogo .desktopLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .homeLogo .mobileLogo {
    display: none;
  }
  .container .split {
    height: 100vh;
    width: 50%;
  }
  .container .rightArea2 {
    display: -ms-grid;
    display: grid;
  }
  .container .rightArea2 .split2 {
    width: 50vw;
  }
}
/*# sourceMappingURL=main.css.map */