
:root {
    --white: #fff;
    --light: #f1f1f1;
    --dark: #999999;
    --accent: #EA671F;
}

*{
 box-sizing: border-box;
}

body {
    background-color: var(--white);
    margin:0;
    padding:0;
}


.container {
    position: relative;
    height: 100vh;

    .homeLogo {
        position: absolute;
        z-index: 2;
        width: 56vw;
        left: 22vw;
        height:16vh;
        top: 42vh;
        
        img {
            height: 100%;
            width: 100%;
        }
    
        .desktopLogo {
        display: none;
        }

        a{
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
            z-index: 3;
            cursor: pointer;
        }
    }

    .split {
        height:50%;
        display:flex;
        justify-content: center;
        align-items: center;
        transition: 800ms;
        transition-property: background-color;
        cursor:pointer;
        position: relative;

        &:hover {
            background-color: var(--dark);
        }

        a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            top:0;
            left:0;
        }

        img {
            max-width: 80vw;
        }
    }

    a.split {
        display:block;
    }


    .leftArea {
        background-color: var(--light);

        .productionEntry{
            display: none;
        }

        &:hover {
            .productionEntry{
                display: inline-flex;
            }
            .designEntry{
                display: none;
            }
        }

    }
    .rightArea {
        background-color: var(--white);
    }

    .rightArea2 {
        display: flex;
        
        .webEntry {
            background-color: var(--white);
        }
        .photoEntry {
            background-color: var(--white);
        }

        .split2 {
            width: 50%;
            height: 50vh;
            display:flex;
            justify-content: center;
            align-items: center;
            transition: 800ms;
            transition-property: background-color;
            cursor:pointer;
            position: relative;
    
            &:hover {
                background-color: var(--dark);
            }
        }
    }


}

@media screen and (min-width: 767px) {
    
    .container {
        display: flex;
        
        .homeLogo {
            position: absolute;
            z-index: 2;
            width: 8vw;
            left: 46vw;
            height: 36vh;
            top: 32vh;
        
            .desktopLogo {
            display: flex;
            }
            .mobileLogo {
                display: none;
            }
        }
        
        .split {
            height: 100vh;
            width: 50%;
        }

        .rightArea2 {
            display: grid;

            .split2 {
                width: 50vw;
                
            }
        }    
    }
    
}
